* {
  box-sizing: border-box;
}

body {
  background-color: #111;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.container {
  max-width: 400px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.square {
  width: 10px;
  height: 10px;
  margin: .5px;
  background-color: #1d1d1d;
  box-shadow: 0 0 2px #000;
  /* The color added to the square will disappear in 1.5 second: */
  transition: 1.5s ease;
}

/* When hover on squares the color will be added immediately: */
.square:hover {
  transition-duration: 0s;
}
