@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

h3 {
  margin-top: 0;
}

.option-container {
  width: 200px;
  display: flex;
  align-items: center;
  margin: 1rem 0;
}

/* Hide default input checkbox */
.option {
  visibility: hidden;
}

.option-label {
  display: inline-block;
  width: 80px;
  height: 40px;
  background-color: #d0d0d0;
  border-radius: 20px;
  margin: 0 1rem;
  cursor: pointer;
  position: relative;
}

.option:checked + .option-label {
  background-color: #32ADE6;
}

.ball {
  height: 36px;
  width: 36px;
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
  top: 2px;
  left: 2px;
  align-items: center;
  justify-content: center;
  animation: slideOff 0.2s linear forwards;
}

.option:checked + .option-label .ball {
  animation: slideOn 0.2s linear forwards;
}

@keyframes slideOn {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(20px);
  }
  100% {
    transform: translateX(40px);
  }
}

@keyframes slideOff {
  0% {
    transform: translateX(40px);
  }
  50% {
    transform: translateX(20px);
  }
  100% {
    transform: translateX(0px);
  }
}