@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color: #b8daff;
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.btn {
  background-color: #fff;
  color: #004085;
  font-family: inherit;
  font-weight: bold;
  padding: 1rem;
  border: none;
  border-radius: .5rem;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.btn:focus {
  outline: none;
}

.btn:active {
  transform: scale(0.95);
}

.toasts {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.toast {
  background-color: #fff;
  color: #004085;
  border-radius: .5rem;
  padding: 1rem 2rem;
  margin: 0.5rem;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}