* {
  box-sizing: border-box;
}

body {
  background-color: #4682b4;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

@media only screen and (max-width: 800px) {
  body {
    flex-direction: column;
  }
}