@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color: #e2e2e2;
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 60px;
  margin: 60px 0;
  overflow-x: hidden;
}

h1 {
  margin: 0;
  padding: 0;
}

.box {
  background-color: #002d4f;
  color: #fff;
  font-weight: 900;
  line-height: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 600px;
  height: 400px;
  margin: 0;
  border-radius: 32px;
  box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.3);
  transform: translateX(400%);
  transition: transform 0.4s ease;
}

.title {
  font-size: 24px;
  line-height: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
}

.box img {
  width: 100%;
  height: calc(100% - 40px);
  object-fit: cover;
  border-radius: 0 0 32px 32px;
}

/* Select the boxes corresponding to the even number and set them to opposite direction*/
.box:nth-of-type(even) {
  transform: translateX(-400%);
}

.box.show {
  transform: translateX(0);
}


