@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color: #112031;
  color: #D4ECDD;
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.user-form {
  width: 100%;
  max-width: 700px;
}

.user-form input {
  display: block;
  width: 100%;
  background-color: #152D35;
  color: #D4ECDD;
  padding: 1rem;
  margin-bottom: 2rem;
  border: none;
  border-radius: 12px;
  font-family: inherit;
  font-size: 1rem;
  box-shadow: 0 5px 10px rgb(154, 160, 185, 0.05),
  0 15px 40px rgb(0, 0, 0, 0.1);
}

.user-form input::placeholder{
  color: #345B63;
}

.user-form input:focus {
  outline: none;
}

.card {
  max-width: 800px;
  display: flex;
  background-color: #152D35;
  border-radius: 20px;
  box-shadow: 0 5px 10px rgb(154, 160, 185, 0.05),
  0 15px 40px rgb(0, 0, 0, 0.1);
  padding: 3rem;
  margin: 0 1.5rem;
}

.avatar {
  width: 150px;
  height: 150px;
  border: 10px solid #112031;
  border-radius: 50%;
}

.user-info {
  color: #D4ECDD;
  margin-left: 2rem;
}

.user-info h2 {
  margin-top: 0;
}

.user-info ul {
  max-width: 400px;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  padding: 0;
}

.user-info ul li {
  display: flex;
  align-items: center;
}

.user-info ul li strong {
  font-size: 0.9rem;
  margin-left: 0.5rem;
}

.repo {
  display: inline-block;
  text-decoration: none;
  color: #D4ECDD;
  background-color: #345B63;
  border: none;
  border-radius: 8px;
  font-size: 0.9rem;
  padding: 0.5rem 1rem;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
}

@media only screen and (max-width: 800px) {
  .user-form {
    max-width: 650px;
  }
}
@media only screen and (max-width: 700px) {
  .user-form {
    max-width: 580px;
  }
}
@media only screen and (max-width: 640px) {
  .card {
    flex-direction: column;
    align-items: center;
  }

  .user-form {
    max-width: 500px;
  }
}
@media only screen and (max-width: 560px) {
  .card {
    margin: 0 1rem;
  }
  .user-form {
    max-width: 440px;
  }
}